.food_header{
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  background: #FFF;
  &__data{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    width: calc(100% - 240px);
    &__img{
      width: 40px;
      height: 51px;
    }
    &__block{
      display: flex;
      align-items: center;
      gap: 77px;
      &__settings{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
      &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 16px;
        &__text{
          color: #28224B;
          font-family: sans-serif;;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          &:hover{
            cursor: pointer;
          }
          &__active{
            color: #35B8BE;
            font-family: sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            cursor: pointer;
          }
        }
      }
      &__img{
        width: 55px;
        height: 55px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #35B8BE;
        position: relative;
        cursor: pointer;
        &__counter{
          position: absolute;
          width: 25px;
          height: 25px;
          flex-shrink: 0;
          border-radius: 100px;
          background: #FFF;
          box-shadow: 7px 7px 25px 0px rgba(126, 130, 143, 0.27);
          display: flex;
          align-items: center;
          justify-content: center;
          top: -8px;
          right: -8px;
          &__text{
            color: #35B8BE;
            text-align: center;
            font-family: sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }
        }
      }
    }
    }
  }
}
