.order-card{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 26px;
  border-radius: 6px;
  border: 1px solid rgba(53, 184, 190, 0.15);
  background: #FFF;
  &__meal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    &-name{
      color: #08090A;
      font-family: sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.6px;
    }
  }
  &__img{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
  }
  &__price{
    color: #35B8BE;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  &__additional{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
  }
  &__amount{
    border-radius: 6px;
    border: 1px solid #DDD;
    background: #FAFAFA;
    width: 60px;
    height: 45px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
  }
  &__delete {
    border-radius: 6px;
    background: #35B8BE;
    flex-shrink: 0;
    padding: 2px 3px;
    width: 60px;
    height: 45px;
    &:hover {
      cursor: pointer;
      background-color: #1b959a
    }
    &-text{
      color: #FFF;
      text-align: center;
      font-family: sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.36px;
    }
  }
}

.disabled{
  pointer-events: none;
}
